.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

tr{
  cursor: pointer;
}

/*NAVBAR*/

.issue-row{
  cursor: pointer; 
}

.issue-row:hover{
  outline:double;
  outline-color: lightgray;
  outline-width: 1px;
}

.issue-row-active{
  background-color: chocolate;
}


.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100px;
  background-color: lightblue;
}

.navbar-button{
  height: 100px;
  width: 100%;
  background-color: transparent;
  border: none;
}


