.App{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

tr{
  cursor: pointer;
}

/*NAVBAR*/

.issue-row{
  cursor: pointer; 
}

.issue-row:hover{
  outline:double;
  outline-color: lightgray;
  outline-width: 1px;
}

.issue-row-active{
  background-color: chocolate;
}


.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100px;
  background-color: salmon;
}

.navbar-button{
  height: 100px;
  width: 100%;
  background-color: transparent;
  border: none;
}

.home{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.project-list{
  background-color: lightsalmon;
}

/*MODALS*/

.modal{
  position: absolute;
  width: 600px;
  height: 400px;
  bottom: 0;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100, 100, 100, 0.6);
  width: 100vw;
  height: 100vh;
}

/*HOME*/

#issue-window-top-section{
  display: flex;
  flex-direction: column;
}

#issue-window{
  width: 100%;
}

.issue-window-item{

}



/*ADD ISSUE SECTION*/


#add-issue-button{
  display: flex;
  justify-content: space-between;
}

#add-issue-button button{
  width: 200px;
  height: 50px;
}

#add-issue-modal{
  background-color: white;
  z-index: 20;
}

/*ISSUE VIEW BOX*/

.issue-view-item{
  display: flex;
  flex-direction: column;
}

.issue-view-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#issue-view-legend-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  width: 100vw;
}